/* --------- Global style */

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}
/* --------- Heading */

.heading {
    text-align: center;
    font-size: 3rem;
}

.logo {
    height: 40px;
    padding-right: 5px;
}
/* ---------  layout */

.generate-area {
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.results-area {
    width: 80%;
    font-size: 2rem;
    margin: auto;
    padding: 50px 0;
}

.results-area span {
    padding: 0 15px;
}

.prompt {
    font-size: 50px;
}



#promptBox {
    background-color: beige;
    border: 30px;
    position: absolute;
    width: 70%;
    padding: 10px;


}
/* --------- Buttons */

#generate-button {
    width: 220px;
    height: 60px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
    background-color: #445361;
}

.generate-button:focus {
    outline: none;
}


/* --------- Media queries */

@media (max-width: 414px) {
    .controls-area {
        width: 100%;
    }


@media (max-width: 320px) {
        .generate-area {
            height: 70vh;
        }

    .generate-area span {
        padding: 0;
    }

    .heading {
        font-size: 2rem;
    }
}

